/* ----Variables---- */
:root{
    --dark-blue-300: #0A3871;
    --light-blue-100: #F3F5FC;
    --white: #fff;
    --gray-500: #343A40;
    --gray-400: #495057;
    --gray-100: #CED4DA;
}

/* ----Contenedor---- */
.contenedor{
    width: 90%;
    max-width: 1920px;
    margin: 0 auto ;
}

/* ----Body---- */
body{
    background-color: var(--light-blue-100);
}